node_modules
dist
.DS_Store
.env
.env.*
*.log
pnpm-lock.yaml
yarn.lock
*.local
.eslintcache
.cache
*.tsbuildinfo
server/data/init/*.sql
server/data/init/*.sql.*
server/data/init/*.psql

/src/generated/prisma
